body {
    background-color: #f6f6ee;
    color: rgb(216, 127, 127);
    font-family: Arial, sans-serif;
    background-image: url('wp10935260-tata-ipl-wallpapers.jpg');
    background-size: cover;
    background-position: lower center;
    background-repeat: no-repeat;
}

#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #d1d1e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    background-color: #b7e8b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
